* {
  box-sizing: border-box;
}

@font-face {
  font-family: "seguridad";
  src: url(../fonts/seg.ttf);
}
@font-face {
  font-family: "limpieza";
  src: url(../fonts/limp.ttf);
}
body {
  background-image: url(../img/white-waves.webp);
  /*
      background-color: #e5e5f7;
      //opacity: 0.8;
      background-size: 10px 10px;
      background-image: repeating-linear-gradient(45deg, rgba(167,171,170,1) 0, rgba(167,171,170,1) 1px, rgba(87,153,205,1) 0, rgba(87,153,205,1) 50%);
  */
}

.navbar-brand {
  font-family: "Signika Negative", sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin: 5px auto;
  padding: 20px;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.img-head {
  background-image: url(../img/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 274px 50px 200px 50px;
  text-align: left;
  width: 100%;
}
.img-head h1 {
  color: #136c77;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.img-head p {
  color: #212429;
  font-size: 1rem;
  margin: 0;
  width: 70%;
}

.vacTitle {
  background-color: #fff;
  border-radius: 225px 5px 225px 80px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 20%;
}

.vacdeTitle {
  background-color: #fff;
  border-radius: 225px 5px 225px 80px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 25%;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
section .descr {
  background-color: #fff;
  border-radius: 225px 5px 225px 80px;
  padding: 30px;
  width: 50%;
}
section .descr h1 {
  margin: 0;
  padding: 0;
}
section .descr p {
  margin: 0;
  padding: 0;
}
section .tipo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
section .vac {
  /* align-items: center;
      display: flex;
      justify-content: center;*/
  width: 60%;
}
section .vac .seg {
  background-image: url(../img/seg.webp);
  background-position: center;
}
section .vac .seg p {
  color: #a7abaa;
  font-family: "seguridad", sans-serif;
  font-size: 1.6rem;
}
section .vac .seg .btn-vac {
  background-color: rgba(167, 171, 170, 0.6);
}
section .vac .limp {
  background-image: url(../img/limp.webp);
  background-position: center;
}
section .vac .limp p {
  color: #5799cd;
  font-family: "limpieza", sans-serif;
  font-size: 1.9rem;
}
section .vac .limp .btn-vac {
  background-color: rgba(87, 153, 205, 0.6);
}
section .vac .vaccau {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 25px 0 25px;
  width: 100%;
}
section .vac .vaccau p {
  height: 2rem;
  padding: 7rem 3.5rem;
}
section .vac .vaccau .img-vac {
  width: 100%;
}
section .vac .vaccau .txt-vac {
  width: 100%;
}
section .vac .vaccau .btn-vac {
  border-radius: 0 0 0 25px;
  font-family: "Dhurjati", sans-serif;
  font-size: 1.7rem;
  padding: 20px;
  width: 100%;
}

.cau {
  width: 60%;
}

.tabla {
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
  margin: 10px auto;
  padding: 40px;
  width: 70%;
}
.tabla p {
  margin: 0;
}
.tabla .table {
  width: 100%;
}
.tabla .table th {
  vertical-align: middle;
}
.tabla .table td {
  vertical-align: middle;
}
.tabla .table .td-btn {
  padding: 5px;
}
.tabla .table .btn-ver {
  background-color: #018eb1;
  border: 1px solid #015b86;
  border-radius: 5px;
  color: #fff;
  font-family: "Dhurjati", sans-serif;
  font-size: 1.2rem;
  height: 100%;
  padding: 6px;
  width: 100%;
}

.vacCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 5px auto;
  text-align: center;
  width: 80%;
}
.vacCard .vacName {
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  font-size: 1.3rem;
  margin: 0;
  padding: 40px;
  width: 100%;
}
.vacCard .gpo-vac-time {
  align-items: center;
  display: flex;
  width: 100%;
}
.vacCard .gpo-vac-time .turno,
.vacCard .gpo-vac-time .horario,
.vacCard .gpo-vac-time .dias {
  text-align: center;
  padding-top: 16px;
  width: 33.3333%;
}
.vacCard .gpo-salar {
  padding: 20px;
  width: 100%;
}
.vacCard .gpo-descripcion {
  width: 100%;
  padding: 20px;
}
.vacCard .gpo-descripcion .descripcion {
  margin: 5px auto;
  padding: 30px;
  width: 80%;
}
.vacCard .gpo-ubicacion {
  padding: 20px;
  width: 100%;
}
.vacCard .wsp-btn {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
  width: 100%;
}
.vacCard .wsp-btn .btnwsp {
  background-color: #25d366;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-family: "Dhurjati", sans-serif;
  font-size: 1.7rem;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.vacCard .wsp-btn .btnwsp:hover {
  background-color: rgba(37, 211, 102, 0.8);
}
.vacCard .wsp-btn .btnwsp i {
  font-size: 1.7rem;
  margin-left: 10px;
}

footer {
  margin: auto;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.3rem;
  }
  .img-head {
    padding: 6.5rem 1.3rem;
  }
  .img-head h1 {
    font-size: 1.3rem;
    padding: 1rem;
  }
  .img-head p {
    width: 100%;
  }
  section .vac {
    width: 100%;
  }
  .tabla {
    font-size: 0.7rem;
    padding: 5px;
    width: 100%;
  }
  .tabla .table th {
    vertical-align: middle;
  }
  .tabla .table td {
    vertical-align: middle;
  }
  .tabla .table .btn-ver {
    padding: 5px;
    min-width: 2.5rem;
    width: 2.5rem;
  }
  .vacCard {
    width: 100%;
  }
  .vacCard .gpo-descripcion {
    padding: 20px 20px 0 20px;
  }
  .vacCard .gpo-descripcion .descripcion {
    padding: 20px 20px 10px 20px;
    width: 100%;
  }
  .gpo-ubicacion iframe {
    height: 350px;
  }
}
@media screen and (max-width: 740px) {
  .tabla {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
